{% macro ChatList(chat_list) %}
<div>
  <ul class="border-2 rounded flex flex-col gap-2">
    {% for chat in chat_list %}
    <li class="border bg-purple-200">
      <a href="{{chat.chat_id}}">
        {{chat.chat_name}}
        <div class="text-gray-700">
          {% if chat.last_message %}
            {{ chat.last_message }}
          {% else %}
            The are no messages in this chat
          {% endif %}
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endmacro input %}
